@using one.Models;
@{
    ViewBag.Title = "About";
    Layout = null;
    List<Music> list = ViewBag.list;
    string MusicUrl = "https://music.163.com/song/media/outer/url?id=";
    string Mp3 = ".mp3";
    string user = ViewBag.user;
    string test = ViewBag.test;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/bao/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/bao/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/bao/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/bao/assets/images/favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        @*<div class="row p-0 m-0 proBanner" id="proBanner">
            <div class="col-md-12 p-0 m-0">
                <div class="card-body card-body-padding d-flex align-items-center justify-content-between">
                    <div class="ps-lg-1">
                        <div class="d-flex align-items-center justify-content-between">
                            <p class="mb-0 font-weight-medium me-3 buy-now-text">Free 24/7 customer support, updates, and more with this template!</p>
                            <a href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template/?utm_source=organic&utm_medium=banner&utm_campaign=buynow_demo" target="_blank" class="btn me-2 buy-now-btn border-0">Get Pro</a>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <a href="https://www.bootstrapdash.com/product/purple-bootstrap-admin-template/"><i class="mdi mdi-home me-3 text-white"></i></a>
                        <button id="bannerClose" class="btn border-0 p-0">
                            <i class="mdi mdi-close text-white me-0"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>*@
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="index.html"><img src="~/bao/assets/images/logo.svg" alt="logo" /></a>
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/bao/assets/images/logo-mini.svg" alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>

                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="nav-profile-img">
                                <img src="~/bao/assets/images/faces/face1.jpg" alt="image">
                                <span class="availability-status online"></span>
                            </div>
                            <div class="nav-profile-text">
                                <p class="mb-1 text-black">@user</p>
                            </div>
                        </a>
                        <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                            <a class="dropdown-item" href="Admin">
                                <i class="mdi mdi-cached me-2 text-success"></i> 个人设置
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Account/Login">
                                <i class="mdi mdi-logout me-2 text-primary"></i> 退出
                            </a>
                        </div>
                    </li>
                    <li class="nav-item d-none d-lg-block full-screen-link">
                        <a class="nav-link">
                            <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                        </a>
                    </li>

                    <li class="nav-item nav-logout d-none d-lg-block">
                        <a class="nav-link" href="/Account/Login">
                            <i class="mdi mdi-power"></i>
                        </a>
                    </li>

                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-menu"></span>
                </button>
            </div>          @*头部 *@
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                            <div class="nav-profile-image">
                                <img src="~/bao/assets/images/faces/face1.jpg" alt="profile">
                                <span class="login-status online"></span>
                                <!--change to offline or busy as needed-->
                            </div>
                            <div class="nav-profile-text d-flex flex-column">
                                <span class="font-weight-bold mb-2">@test</span>
                                <span class="text-secondary text-small">管理员</span>
                            </div>
                            <i class="mdi mdi-bookmark-check text-success nav-profle-badge"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="About">
                            <span class="menu-title">预览</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Add">
                            <span class="menu-title">添加歌曲</span>
                            <i class="mdi mdi-contacts menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="Admin">
                            <span class="menu-title">个人信息</span>
                            <i class="mdi mdi-format-list-bulleted menu-icon"></i>
                        </a>
                    </li>
                </ul>
            </nav>          @*导航栏*@
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="page-header">
                        <h3 class="page-title">
                            <span class="page-title-icon bg-gradient-primary text-white me-2">
                                <i class="mdi mdi-home"></i>
                            </span> 预览
                        </h3>
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item active" aria-current="page">
                                    <span></span>概述 <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div class="row">
                        <div class="col-12 grid-margin">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">详细数据</h4>
                                    <div class="table-responsive">
                                        <table class="table" style="text-align:center">
                                            <thead>
                                                <tr>
                                                    <th> ID </th>
                                                    <th> 名称 </th>
                                                    <th> 图片 </th>
                                                    <th> 音源ID </th>
                                                    <th> 音源 </th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in list)
                                                {
                                                    <tr>
                                                        <td>
                                                            @item.ID
                                                        </td>
                                                        <td> @item.Name</td>
                                                        <td>
                                                            <img src="@item.Image" style="width:80px; height:80px;" />
                                                        </td>
                                                        <td> @item.MusicID</td>
                                                        <td>
                                                            <audio id="audioPlayer" controls>
                                                                <source src="@MusicUrl@item.MusicID@Mp3" type="audio/mpeg">
                                                                Your browser does not support the audio element.
                                                            </audio>
                                                        </td>
                                                        <td>@Html.ActionLink("编辑", "Updata", "Account", new { Uid = @item.ID }, new { @class = "btn btn-primary" })</td>
                                                        <td>
                                                            @Html.ActionLink("删除", "Delete", "Account", new { Uid = @item.ID }, new { @class = "btn btn-danger" })
                                                            <!--@*a href="Delete?Uid=@item.ID" onclick="return confirm('确定删除吗？')">删除</a>*@-->
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid d-flex justify-content-between">
                        <span class="text-muted d-block text-center text-sm-start d-sm-inline-block"> © Cristiano Ronaldo dos Santos Aveiro 2023</span>
                        <span class="float-none float-sm-end mt-1 mt-sm-0 text-end"> Cristiano Ronaldo</span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/bao/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/bao/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/bao/assets/js/jquery.cookie.js" type="text/javascript"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/bao/assets/js/off-canvas.js"></script>
    <script src="~/bao/assets/js/hoverable-collapse.js"></script>
    <script src="~/bao/assets/js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/bao/assets/js/dashboard.js"></script>
    <script src="~/bao/assets/js/todolist.js"></script>
    <!-- End custom js for this page -->
</body>
</html>